<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/icon.png">
    <title>Mangas</title>
</head>
<body>
    
    <header>
        <div>
            <h1>Animes mas vistos de la historia</h1>
        </div>
    </header>

    <!--navbar-->
    <nav class="formnav">
        <a href="../../index.html">Inicio</a>
        <a href="">Mangas</a>
        <a href="formulario.html">Regristo</a>
    </nav>

    <div class="principal">
        <main>
            <article>
                <div class="card mb-3">
                    <img src="../img/Manga.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Apps recomendadas para leer mangas</h5>
                      <p class="card-text">Aca te dejamos algunas recomendaciones de apps para que puedas leer tus mangas donde quieras.</p>
                      <p class="card-text"> <ul>
                        <li>Manga plus</li>
                        <li>Amazon Kindle</li>
                        <li>Animo Manga</li>
                        <li>Comic Trim</li>
                        <li>Manga Geek</li>
                        <li>Crunchyroll Manga</li>
                        <li>Tachiyomi</li>
                      </ul></p>
                    </div>
                  </div>
            </article>
        </main>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/nY38yPXXNNo?si=EUb6ZawYe-kG-Zob" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>


    </div>

        



</body>
</html>